backend/node_modules
backend/backend_backup
backend/backend_backup.zip
.vscode
.git
frontend/package-lock.json
frontend/build
frontend/log
frontend/node_modules
frontend/prontend_backup
frontend/prontend_backup.zip